/*gkjgkjgkj */
.title {
    text-align: center;
    padding: 1em 1em 1em 1em;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    position: absolute;
    top: 70%;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 20px;
    transform: translate(-50%);
    font-size: 1.5em;
    font-family: 'Antonio', sans-serif; font-weight: 300;
}


.content{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%);
}



body{
    font-size: 100%;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

h1{
    font-size: 2.4em;
    font-family: 'Antonio', sans-serif; font-weight: 700;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

h2{
    font-size: 1.5em;
    font-family: 'Antonio', sans-serif; font-weight: 300;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}


a.buttonlink {
    text-decoration: none;
}

a.buttonlink:link {
    color:rgb(255, 255, 255);

}

a.buttonlink:visited {
    color:rgb(255, 255, 255);

}

a.buttonlink:focus {

}

a.buttonlink:hover {
    background-color: rgb(255, 255, 255, 0.8);
    color: black;

}

a.buttonlink:active {background-color: rgb(139, 139, 139);

}



a.anders {
    text-decoration: none;
}

a.anders:link {
    color:rgb(255, 255, 255);

}

a.anders:visited {
    color:rgb(255, 255, 255);

}

a.anders:focus {

}

a.anders:hover {

}

a.anders:active {

}
