
.bgimage{
    background-image: url(./images/hello-i-m-nik-l4ADb9OVqTY-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f4f4f4;
    }

.myvideo{
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/*gkjgkjgkj */
.title {
    text-align: center;
    padding: 1em 1em 1em 1em;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    top: 70%;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 20px;
    transform: translate(-50%);
    font-size: 1.5em;
    font-family: 'Antonio', sans-serif; font-weight: 300;
}



body{
    font-size: 100%;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

h1{
    font-size: 2.4em;
    font-family: 'Antonio', sans-serif; font-weight: 700;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

h2{
    font-size: 1.5em;
    font-family: 'Antonio', sans-serif; font-weight: 300;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}


a {
    text-decoration: none;
}

a:link {
    color:rgb(255, 255, 255);

}

a:visited {
    color:rgb(255, 255, 255);

}

a:focus {

}

a:hover {
    background-color: rgb(255, 255, 255, 0.8);
    color: black;

}

a:active {background-color: rgb(139, 139, 139);

}


table, th, td {
    border: 1px solid black

}